{% extends 'blog/base.html' %}<!-- blog/base.html 가져오기 -->
    {% block main_area %}
    
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post"
                role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post
            </a>
        {% endif %}
    {% endif %}




                <h1>Blog {% if category %} <!-- 카테고리가 있으면 -->
                        <span class="badge badge-info">{{ category }}</span>  <!-- badge 생성 -->
                        {% endif %}
                    {% if tag %}  <!-- tag가 있는가 -->
                        <span class="badge badge-secondary">{{ tag }}({{ tag.post_set.count }})</span>
                    {% endif %}
                </h1>
                {% if post_list.exists %} <!-- post_list 에 게시물이 있다면 if 문에 진입 --> 
                {% for p in post_list %}
                
                <!-- Blog Post -->
                <div class="card mb-4" id="post-{{p.pk}}">
                    {% if p.head_image  %}
                        <!-- p.head_image 가 있으면 아래 구문을 실행하자 없으면 alter 걸어주기 --> 
                        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                    {% else %} <!-- 사진이 없어도 class 에 잘 이동해야 하니까 class 넣어주기 -->
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                        <!-- 이미지를 고정하고 싶어서 /seed/ 를 넣어줬다 , p.id 로 id 마다 다른 이미지를 고정될 수 있게 했다 -->
                    {% endif %}
                    <div class="card-body">
                        {% if p.category %} <!-- 카테고리가 있으면 출력 -->
                        <span class="badge badge-info float-right">{{p.category}}</span>
                        {% else %}
                        <span class="badge badge-info float-right">미분류</span>
                        {% endif %}
                        
                        <!-- float-right : 오른쪽 끝에 위치시키기 -->
                        <h2 class="card-title">{{ p.title }}</h2><!-- 포스트 제목 -->
                        {% if p.hook_text %}<!-- 있으면 출력하고 없으면 안 하게 if 걸어줬다 -->
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ p.content | truncatewords:45 }}</p> <!-- 포스트 내용 -->
                        <!-- 포스트 리스트에 내용이 다 나올 필요는 없으니까 truncate 로 단어 45개만 남기고 지우기 -->
                        
                        <!-- 태그가 존재한다면 -->
                        {% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                                {% for tag in p.tags.iterator %}
                                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">
                                        {{ tag }}</span></a>
                                {% endfor %}
                            <br>
                            <br>
                        {% endif %}
                        
                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <!-- 작성일이 들어온다 -->
                        Posted on {{ p.create_at }} by
                        <a href="#">{{ p.author | upper }}</a>
                        <!-- upper : 전부 대문자로 처리함 -->
                    </div>
                    <!-- <a href="{{ p.category.name }}">{{ p.category.name }}</a> -->
                </div>
                {% endfor %} <!-- for 문 끝낼거니까 endfor 명령 주기 --> 
                {% else %}
                    <h3>아직 게시물이 없습니다</h3>
                {% endif %}

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
    {% endblock %}